
<h1>all users</h1>

<%= form_with url: users_path, method: :post do |f| %>
  <%= f.submit "CREATE" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @users.each do |user| -%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td>
          <%= form_with url: user_path(user), method: :delete do |f| %>
            <%= f.submit "DELETE" %>
          <% end %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
